body{
  font-family: sans-serif;
  margin: 0;
}
/*Navbar utilizando flexbox*/
.navbar-brand{
display: flex;
align-items: center;
}


.navbar-brand h2{
font-size: 25px;
}

.menu {
  padding-right: 30px;
}


@media screen and (max-width: 768px) {
  .navbar-nav {
    display: none;
  }

  .navbar-nav.open {
    display: flex;
    flex-direction: column;
  }

  .navbar-toggle {
    display: block;
  }
}



/*Slide utilizando flexbox*/
* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
font-family: sans-serif;
}

.wrapper {
max-width: 1000px;
margin: 15px auto;
}

.slider {
position: relative;
}

.slides {
position: relative;
display: flex;
overflow: hidden;
}

.slide {
width: 100vw;
flex-shrink: 0;
animation-name: slide;
animation-duration: 20s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.slide img {
width: 100%;
vertical-align: top;
}

.slide a {
width: 100%;
display: inline-block;
position: relative;
}

.caption {
color: white;
text-shadow: 1px 1px black;
position: absolute;
bottom: 8vw;
right: 4vw;
}

.slide:target {
animation-name: none;
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
z-index: 50;
}

.slider-controler {
position: absolute;
left: 0;
right: 0;
bottom: 0;
text-align: center;
padding: 5px;
background-color: rgba(0,0,0,0.5);
z-index: 100;
}

.slider-controler li {
margin: 0 0.5rem;
display: inline-block;
vertical-align: top;
}

.slider-controler a {
display: inline-block;
vertical-align: top;
text-decoration: none;
color: white;
font-size: 1.5rem;
}

@media only screen and (min-width: 1000px) {
.slide {
  width: 1000px;
}

.caption {
  font-size: 96px;
  bottom: 96px;
  right: 50px;
}
}

/*Títulos utilizando flexbox, primero las caracteristicas de cada parrafo*/
h1{
  text-align: center;
  font-size: 50px;
padding: 25px ;
font-family: 'Times New Roman', Times, serif;
}

h2{
  text-align:center;
padding: 25px;
font-weight: 900;

font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h4{
text-align: center;
padding: 20px;
font-size: xx-large;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h3{
  text-align: center;
padding: 5px;
font-family: 'Times New Roman', Times, serif;

}

h5{
  text-align: center;
padding: 7px;
font-family: 'Courier New', Courier, monospace;
}


/*Con solo un título no es necesario usar flex*/
.titulo{
  background-color:rgb(239, 239, 236);
  height: 200px;
flex: 100%;
}

/*Para dos bloques ocupamos flex*/
.cards{
display: flex;
height: auto;

}

.card1{
flex:40%; /*Porcentaje que ocupara el bloque*/
margin: 5px;
background-color:rgb(239, 239, 236);

}
.card2{
flex: 60%;
margin: 5px;
background-color:rgb(239, 239, 236);
}

/*Footer*/

.footer{
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
flex-flow: row wrap;
padding: 50px;
color: white;
background: black;
}

.footer > *{
flex: 1 100%;
}

.l-footer{
margin-right: 1.25em;
margin-bottom: 2em;
}

.h7{
font-weight: 900;
font-size: 16px;
}

.footer ul{
list-style: none;
padding-left:0;

}
.footer li{
line-height: 2em;


}
.footer a{
text-decoration: none;


}

.r-footer{
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-flow: row wrap;

}

.r-footer > *{
flex: 1 50%;
margin-right: 1.25em;

}
.r-footer ul{
color: #999;
}

.box a{
text-decoration: none;
color: #999;
}

.h-box{
column-count: 2;
column-gap: 1.25em;
}
.b-footer{
text-align: center;
color: #999;
padding-top: 50px;
}

.redes-sociales{
text-align: center;
}

.redes-sociales i{
font-size: 20px;
}

.l-footer p{
padding-right: 20%;
color: #999;
}

@media screen and (min-width:600px) {
.r-footer>*{
  flex: 1;
}
.columnas{
  flex-grow: 2;
}
.l-footer{
  flex: 1 0;
}
.r-footer{
  flex: 2 0;
}

}






